.product {
  border: 1px solid black;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 5px 7px;
  padding: 5px;
  border-radius: 4px;
}
.product img {
  width: 220px;
  height: 260px;
  background-color: aliceblue;
}
.catalog {
  background-color: #f0e2a3;
  padding-top: 5px;
}
.product .prices {
  display: flex;
  justify-content: space-around;
}

.product .prices .total {
  font-size: 20px;
  font-weight: bold;
  color: #ee6c4d;
}

.product .prices .price {
  font-size: 16px;
  color: #293241;
}
.product .controls {
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);
    background-color: #e1be2062;
}