.product {
    border: 1px solid black;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 5px 7px;
    padding: 5px;
    border-radius: 4px;
}
.product img {
    width: 180px;
    height: 280px;
}